<template name="adminPanel">
<div class="col-xs-12 col-md-8">
	<form class="form-inline" role="form">
		<fieldset>

			<!-- Form Name -->
			<legend>Sensor de humedad</legend>

		</fieldset>
		<div class="form-group">
			<label class="sr-only" for="coefA1">Coeficiente A</label>
			<input type="number" class="form-control" id="coefA1" placeholder="Coeficiente A">
		</div>
		<div class="form-group">
			<label class="sr-only" for="coefB1">Coeficiente B</label>
			<input type="number" class="form-control" id="coefB1" placeholder="Coeficiente B">
		</div>
		<div class="form-group">
			<label class="sr-only" for="coefC1">Coeficiente C</label>
			<input type="number" class="form-control" id="coefC1" placeholder="Coeficiente C">
		</div>
		<button type="submit" class="btn btn-default">Guardar</button>
	</form>

	<form class="form-inline" role="form">
		<fieldset>

			<!-- Form Name -->
			<legend>Sensor de temperatura</legend>

		</fieldset>
		<div class="form-group">
			<label class="sr-only" for="coefA2">Coeficiente A</label>
			<input type="number" class="form-control" id="coefA2" placeholder="Coeficiente A">
		</div>
		<div class="form-group">
			<label class="sr-only" for="coefB2">Coeficiente B</label>
			<input type="number" class="form-control" id="coefB2" placeholder="Coeficiente B">
		</div>
		<div class="form-group">
			<label class="sr-only" for="coefC2">Coeficiente C</label>
			<input type="number" class="form-control" id="coefC2" placeholder="Coeficiente C">
		</div>
		<button type="submit" class="btn btn-default">Guardar</button>
	</form>

	<form class="form-inline" role="form">
		<fieldset>

			<!-- Form Name -->
			<legend>Sensor de viento</legend>

		</fieldset>
		<div class="form-group">
			<label class="sr-only" for="coefA3">Coeficiente A</label>
			<input type="number" class="form-control" id="coefA3" placeholder="Coeficiente A">
		</div>
		<div class="form-group">
			<label class="sr-only" for="coefB3">Coeficiente B</label>
			<input type="number" class="form-control" id="coefB3" placeholder="Coeficiente B">
		</div>
		<div class="form-group">
			<label class="sr-only" for="coefC3">Coeficiente C</label>
			<input type="number" class="form-control" id="coefC3" placeholder="Coeficiente C">
		</div>
		<button type="submit" class="btn btn-default">Guardar</button>
	</form>


	<form class="form-inline" role="form">
		<fieldset>
			<legend>Sensores habilitados</legend>
		</fieldset>
		<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox1" value="option1"> Sensor de humedad
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox2" value="option2"> Sensor de temperatura
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox3" value="option3"> Sensor de viento
		</label>
		<button type="submit" class="btn btn-default">Guardar</button>
	</form>
</div>

<div class="col-xs-6 col-md-4">
	<form class="form" role="form">
		<fieldset>
			<legend>Alertas</legend>
		</fieldset>
		<div class="form-group">
			<div class="input-group">
				<input class="form-control" type="number" placeholder="Umbral de humedad">
				<div class="input-group-addon">%</div>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<input class="form-control" type="number" placeholder="Umbral de temperatura">
				<div class="input-group-addon">°C</div>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<input class="form-control" type="number" placeholder="Umbral de viento">
				<div class="input-group-addon">Km/h</div>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
		    	<label for="exampleInputEmail1">Direccion de email</label>
		    	<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email destino de alerta">
			</div>

	  	</div>
		<button type="submit" class="btn btn-default">Guardar</button>
	</form>

</div>

</template>