<template name="estacionHome">
  <div class="panel panel-default">
		<div id="center_col" class="panel-body">
			<div class="vk_gy vk_h" id="wob_loc">Mar del Plata, Buenos Aires</div>
			<div class="vk_gy vk_sh" id="wob_dts">{{dateNow}}</div>

			<div id="wob_d" style="font:16px arial,helvetica,sans-serif;padding:20px 0 0;-webkit-touch-callout:none;-webkit-user-select:none" class="row">

				<div class="pull-left">
					<img style="float:left;height:64px;width:64px" alt="undefined" src="https://ssl.gstatic.com/onebox/weather/64/sunny.png" id="wob_tci">
					<div style="padding-left:10px;float:left">
						<div>
							<div class="vk_bk sol-tmp" style="float:left;margin-top:-3px;font-size:64px">
								<span class="wob_t" id="wob_tm" style="display:inline">{{temperatura}}</span>
							</div>
							<div class="vk_gy wob-unit" style="float:left;font-size:16px;margin-top:6px">
								<span class="wob_t" style="display:inline">
									&#176;	
									<span>C</span>
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="pull-left">
					<img style="float:left;height:64px;width:64px" alt="undefined" src="https://ssl.gstatic.com/onebox/weather/64/windy.png">
					<div style="padding-left:10px;float:left">
						<div>
							<div class="vk_bk sol-tmp" style="float:left;margin-top:-3px;font-size:64px">
								<span class="wob_t" id="wob_tm" style="display:inline">{{viento}}</span>
							</div>
							<div class="vk_gy wob-unit" style="float:left;font-size:16px;margin-top:6px">
								<span class="wob_t" style="display:inline">
									<span> km/h</span>
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="pull-left">
					<img style="float:left;height:64px;width:64px" alt="undefined" src="Humidity-icon.png" id="wob_tci">
					<div style="padding-left:10px;float:left">
						<div>
							<div class="vk_bk sol-tmp" style="float:left;margin-top:-3px;font-size:64px">
								<span class="wob_t" id="wob_tm" style="display:inline">{{humedad}}</span>
							</div>
							<div class="vk_gy wob-unit" style="float:left;font-size:16px;margin-top:6px">
								<span class="wob_t" style="display:inline">
									<span> %</span>
								</span>
							</div>
						</div>
					</div>
				</div>

			</div>

            <div class="vk_gy vk_sh" id="wob_dts">Ultima actualizacion: {{date}}</div>

		</div>
	</div>

</template>